// button background 
$btn-color-approve-ok: rgb(17, 124, 17);
$btn-color-cancel:rgb(218, 218, 218);
$btn-color-reject:rgb(255, 65, 65);

$btn-p3: 3px;
$btn-p5: 5px;
$btn-p10: 10px;
$btn-p15: 15px;

$btn-text-color-w: #fff;
$btn-text-color-b: #000;

// checkbox 
$checkbox-border-color: rgb(31, 173, 255);
$checkbox-border-width: 1px;
$checkbox-width: 8px;
$checkbox-height: 8px;
